@font-face {
  font-family: "Open Sans";
  font-weight: $font-weight-normal;
  font-style: normal;
  font-display: block;
  src: url("fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
       url("fonts/OpenSans-Regular-webfont.woff")  format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: $font-weight-normal;
  font-style: italic;
  font-display: block;
  src: url("fonts/OpenSans-Italic-webfont.woff2") format("woff2"),
       url("fonts/OpenSans-Italic-webfont.2off")  format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: $font-weight-bold;
  font-style: normal;
  font-display: block;
  src: url("fonts/OpenSans-Bold-webfont.woff2") format("woff2"),
       url("fonts/OpenSans-Bold-webfont.woff")  format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: $font-weight-bold;
  font-style: italic;
  font-display: block;
  src: url("fonts/OpenSans-BoldItalic-webfont.woff2") format("woff2"),
       url("fonts/OpenSans-BoldItalic-webfont.woff")  format("woff");
}

@font-face {
  font-family: "Spectral";
  font-weight: $font-weight-normal;
  font-style: normal;
  font-display: block;
  src: url("fonts/spectral-regular.woff2") format("woff2"),
       url("fonts/spectral-regular.woff") format("woff");
}

@font-face {
  font-family: "Spectral";
  font-weight: $font-weight-bold;
  font-style: normal;
  font-display: block;
  src: url("fonts/spectral-bold.woff2") format("woff2"),
       url("fonts/spectral-bold.woff")  format("woff");
}

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url("fonts/fontawesome-webfont.eot");
  src: url("fonts/fontawesome-webfont.eot?#iefix")             format("embedded-opentype"),
       url("fonts/fontawesome-webfont.woff2")                  format("woff2"),
       url("fonts/fontawesome-webfont.woff")                   format("woff"),
       url("fonts/fontawesome-webfont.ttf")                    format("truetype"),
       url("fonts/fontawesome-webfont.svg#fontawesomeregular") format("svg");
}
